* {
  box-sizing: border-box;
}
nav {
  text-align: center;
}
label {
  display: block;
}
#tool {
  display: none;
  position: absolute;
}
/* instruction start */
.exit-instruction {
  padding: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  border-radius: 14px;
  margin-top: 30px;
}
.exit-instruction:hover {
  cursor: pointer;
}
.instruction-section {
  position: relative;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #33bd58;
  color: #fff;
}
.instruction h2 {
  font-size: 32px;
  font-weight: bold;
  padding: 15px 0;
}
ol {
  list-style-type: decimal;
}
li {
  font-size: 24px;
  margin-bottom: 5px;
}
li:last-child {
  margin-bottom: 0;
}
/* end of instruction */
.content {
  display: none;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
main {
  display: flex;
}
header {
  min-height: 12vh;
  max-height: 12vh;
  box-sizing: border-box;
  overflow: hidden;
}
.left-side {
  background-color: #000;
  width: 25%;
  display: flex;
  justify-content: center;
}
.gallery img {
  display: block;
  margin-bottom: 10px;
  min-width: 24%;
  min-height: 24%;
  max-width: 90%;
  max-height: 90%;
  margin-right: auto;
  margin-left: auto;
}
.gallery img:last-child {
  margin-bottom: 0;
}
.gallery {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}
.manual {
  width: 40px;
  height: 40px;
}
.manual:hover {
  cursor: pointer;
}
/* right side */
.right-side {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
}
/* toolBox */
#tool-box {
  font-size: 24px;
  border: 1px solid silver;
  border-radius: 15px;
}
label {
  margin-bottom: 10px;
}
input[type="text"],
select {
  display: block;
  min-height: 30px;
}
input[type="range"],
input[type="text"] {
  display: block;
  min-width: 100%;
}
select {
  margin-bottom: 10px;
}
.buttons {
  display: none;
  width: 25%;
  justify-content: space-between;
}
.buttons button {
  background-color: transparent;
  border: none;
}
.buttons button:hover {
  cursor: pointer;
}
.buttons img {
  width: 50px;
  height: 50px;
}
.image-upload>input {
  display: none;
}
.tools button {
  padding: 10px;
  color: #fff;
  background-color: rgb(266, 26, 26);
  border: none;
}