* {
  box-sizing: border-box;
}
nav {
  text-align: center;
}
label {
  display: block;
}
#tool {
  display: none;
  position: absolute;
}
/* instruction start */
.exit-instruction {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
}
.exit-instruction:hover {
  cursor: pointer;
}
.instruction-section {
  position: relative;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #33bd58;
  color: #fff;
}
.instruction h2 {
  font-size: 32px;
  font-weight: bold;
  padding: 15px 0;
}
ol {
  list-style-type: decimal;
}
li {
  font-size: 24px;
  margin-bottom: 5px;
}
li:last-child {
  margin-bottom: 0;
}
/* end of instruction */
main {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: none;
}
header {
  min-height: 12vh;
  max-height: 12vh;
  box-sizing: border-box;
  overflow: hidden;
}
.left-side {
  background-color: #000;
  width: 25%;
  display: flex;
  justify-content: center;
}
.gallery img {
  display: block;
  margin-bottom: 10px;
  min-width: 24%;
  min-height: 24%;
  max-width: 90%;
  max-height: 90%;
  margin-right: auto;
  margin-left: auto;
}
.gallery img:last-child {
  margin-bottom: 0;
}
.gallery {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}
.manual {
  width: 40px;
  height: 40px;
}
.manual:hover {
  cursor: pointer;
}
/* right side */
.right-side {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
}
.grab {
  position: absolute;
}
.grab p {
  cursor: move;
  display: none;
}

/* .editable { 
  border: 2px solid black;
} */
